{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vankosoft_org.template.page_title_project_issue_update' | trans( {},'VankoSoftOrg' ) ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vankosoft_org.template.page_title_project_issue_create' | trans( {},'VankoSoftOrg' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vankosoft_org.template.page_title_project_issue_details'  | trans( {},'VankoSoftOrg' ) }}</h5>
            	<div class="card-body">
            	
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
            	   
            		{% include 'Pages/ProjectIssueComments/_form.html.twig' %}
            		
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    
    {% include 'Pages/ProjectIssues/modal/issue_comment_edit.html.twig' %}
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/project-issues-edit', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/project-issues-edit', null, 'VelzonTheme' ) }}
{% endblock %}
